@media (max-width: 512px) {


    .banner-background::before {
        right: 0;
    }

    .banner-text1 {
        font: 1.25em FuturaStd-Light;
    }

    .banner-text2 {
        font: 1.25em FuturaStd-Medium;
    }

    .searchFormContainer {
        padding-right: 10px;
        width: 368px;
    }

    .publishTitle {
        font: 0.80em FuturaStd-Light;
    }

    .searchLayout {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .search-container {
        position: relative;
        width: 350px;
        height: 90%;
        margin: 20px auto 20px auto;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li > a {
        padding-left: 10px;
        padding-right: 10px;
        font: 1.125em FuturaStd-Book;
    }

    /********************** BANNER ********/
    /************************************/
    .banner-container {
        width: 100%;
        height: 100px;
    }

    .banner-text {
        width: 100%;
        top: 5px;
        left: 0px;
    }

    .bannerTextContainer {
        width: 100%;
        position: relative;
        float: left;
        text-align: center;
    }

    .bannerTextContainer2 {
        clear: left;
    }

    /********************** BANNER ********/
    /************************************/
    .ad {
        width: 350px;
    }

    /********************** NEWS ********/
    /************************************/
    .newsLayoutContent1 {
    }

    /***********  ANNONCES / VENTES *****/
    /************************************/
    .searchShortcutsTitle {
    }

    .searchShorcutsTowns {
        font: 1em FuturaStd-Light;
        line-height: 1.4em;
        -webkit-columns: 3;
        -moz-columns: 3;
        columns: 3;
    }
    .searchNumRoomsContainer{
        width:24%;
    }
    .searchButtonSubmit{
        width:26%;
    }

    .grayBackgroundColumn4 {
        background-color: #FFFFFF;
        height: auto;
    }

    .classifiedAdPriceSpan
    {
        font: 0.875em FuturaStd-Bold;
    }
}