@media (max-width: 768px) {

    .publishTitle {
        font: 0.9em FuturaStd-Light;
    }

    .banner-text1 {
        font: 1.25em FuturaStd-Light;
    }

    .banner-text2 {
        font: 1.25em FuturaStd-Medium;
    }

    /********************** AD LIST ********/
    /************************************/
    .specialistLayout {
        width: 100%;
    }

    .resultLayoutContainer {
        position: relative;
        float: left;
        overflow: auto;
        padding-right: 0;
        width: 100%;
    }

    /******************SEARCH************/
    /************************************/
    .searchLayout {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .search-container {
        position: relative;
        width: 350px;
        height: 90%;
        margin: 20px auto 20px auto;
    }

    .searchFormContainer {
        padding-right: 10px;
        width: 491px;
    }

    /********************** NEWS ********/
    /************************************/
    .newsLayoutTextContainer {
    }

    .specialistBannerPubSpan4 {
        text-align: left;
        margin-top: 3px;
    }

    /***********  ANNONCES / VENTES *****/
    /************************************/
    .searchShorcutsTowns {
        font: 1em FuturaStd-Light;
        line-height: 1.4em;
        -webkit-columns: 4;
        -moz-columns: 4;
        columns: 4;
    }
    .searchPropertyTypeContainer{
        clear:left;
        width:50%;
    }
    .searchLocation{
        width:50%;
    }
    .searchMinPrice{
        width:25%;
    }
    .searchNumRoomsContainer{
        width:28%;
    }
    .searchButtonSubmit{
        width:20%;
    }

    /***********  FOOTER            *****/
    /************************************/
    .footerLayout {
    }
}