@import "../../../lib/bootstrap-sass-official/assets/stylesheets/bootstrap"
@import "bourbon/bourbon"
@import "_mixins"
@import "_fonts"
@import "templates/header"
@import "templates/sideMenu"
@import "templates/map"
@import "templates/latestClassifieds"
@import "templates/classifiedList"

body
  margin: 0

  .row-colored
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
    background: #FFFFFF
    @include border-top-radius($radius)
    @include border-right-radius($radius)
    @include border-bottom-radius($radius)
    @include border-left-radius($radius)
