<!-- HEADER -->
<header class="row show-grid logoLayout">
    <div class="span12">

        <!-- LOGO -->
        <div class="logo">
            <img src="/modules/core/img/brand/logo180px.png" width="90" height="90" alt="Wegeoo Logo"/>
        </div>

        <!-- TEXT -->
        <div class="logo-text">
            <h1>
                <span class="logoName1">we</span><span class="logoName2">Geoo</span>
                <br/>
                <span class="logo-text-span"> wegeoo.slogan.part1</span>
            </h1>
        </div>
    </div>
</header>