<!-- HEADER -->
<header class="row show-grid headerLayout text-center">

    <!-- LOGO -->
    <div class="logo">
        <img src="/modules/core/img/brand/logo180px.png" width="90" height="90" alt="Wegeoo Logo"/>
    </div>

    <!-- TEXT -->
    <div class="slogan">
        <h1>
            <span class="brandNamePart1 hidden-xs">we</span><span class="brandNamePart2 hidden-xs">Geoo</span>
            <br/>
            <span class="text">{{ __('wegeoo.slogan.part1') }}</span>
        </h1>
    </div>

</header>