<div class=popupSendMailContainer>

    <div class="popupTitleShadow"></div>

    <div class=popupContents>
        <form class="form-horizontal" role="form">
            <div class="form-group">

                <!-- BUILDING YEAR -->
                <label class="col-sm-2 control-label">{% trans %}Name{% endtrans %} :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="userName" placeholder="" required>
                </div>

                <!-- BUILDING YEAR -->
                <label class="col-sm-2 control-label">{% trans %}Email{% endtrans %} :</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="userEmail" placeholder="example@wegeoo.com" required>
                </div>

                <!-- BUILDING YEAR -->
                <label class="col-sm-2 control-label">{% trans %}Message{% endtrans %} :</label>
                <div class="col-sm-10">
                    <textarea id="userMessage" class="form-control message" rows="5" required></textarea>
                </div>

                <!-- SECURITY CODE -->
                <label class="col-sm-2 control-label">{% trans %}Security Code{% endtrans %} :</label>
                <div class="col-sm-10">
                    <img src="{{ baseURL }}/_gcb/generate-captcha/{{ app.session.getId() }}" title="captcha" width="150" height="50"/>
                    <input type="text" class="form-control" id="userCaptcha" placeholder="{% trans %}Type the security code{% endtrans %}" required>
                </div>

            </div>



        </form>
            <!--<fieldset>
                <ol>
                    <li>
                        <label for=captcha>Code sécurité:</label>
                        <img id="captcha" src="/libs/securimage/securimage_show.php" height="50px" alt="CAPTCHA Image" ></img>
                        <a class="captchaDifferent" href="#" onclick="document.getElementById('captcha').src = '/libs/securimage/securimage_show.php?' + Math.random(); return false">
                            Recharger une autre image
                        </a>
                    </li>
                    <li>
                        <label for=captchaResult></label>
                        <input type="text" id=captchaInPopup size="10" maxlength="6" placeholder="Saississez le code sécurité"></input>
                    </li>
                </ol>
            </fieldset>-->

            <div class=popupButtons>
                <div class=popupFormSubmitContainer>
                    <div onclick="contactAdvertiser('{{ classified.reference }}')">Envoyer</div>
                </div>
            </div>

        </form>
    </div>
</div>