<!-- GLOBAL MENU -->
{% block sideMenu %}


    {% block javascripts %}
        {% javascripts
        'bundles/wegeoowebsite/js/block/sideMenu/sideMenu.js'
        %}
            <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}


    {% block stylesheets %}
        {% stylesheets filter="cssrewrite"
        'bundles/wegeoowebsite/css/sideMenu.less'
        %}
        <link type="text/css" media="screen" rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}


    <div id="sideMenu">

        <!-- SEARCH BUTTON -->
        <a id="menuLink" href="#menu" class="menu-link">
            <img class="menuIcon" src="/bundles/wegeoowebsite/images/searchIcon.png" width="23" height="23">
        </a>

        <!-- PUBLISH BUTTON -->
        <a href="{{baseURL}}/{% trans %}wegeoo.property{% endtrans %}/{% trans %}wegeoo.post{% endtrans %}" class="sideMenuPostButton">
            <img src="{{ asset('bundles/wegeoowebsite/images/pen.png') }}" width="23" height="23"/>
        </a>

        <div id="menu">

            <!-- SEARCH -->
            <div class="row show-grid searchCategoryRow">

                <!-- CATEGORY SELECTION -->
                <div class="searchCategoryContainer">
                    <ul class="nav nav-tabs searchCategory" data-wegeoo-slug="categoryLocaleName" data-wegeoo-component="tabs">
                        <li class="searchCategoryLi">
                            <a href="#"  		data-value="sale" data-toggle="tab" rel="nofollow">{% trans %} classified.category.sale {% endtrans %}</a></li>
                        <li class="searchCategoryLi active">
                            <a href="#" 		data-value="rent" data-toggle="tab" rel="nofollow">{% trans %} classified.category.rent {% endtrans %}</a></li>
                        {#<li class="searchCategoryLi disabled disabledTab">#}
                        {#<a href="#season"  		data-toggle="tab">{% trans %} classified.category.holidayRentals {% endtrans %}</a></li>#}
                        {#<li class="searchCategoryLi disabled disabledTab">#}
                        {#<a href="#new"  		data-toggle="tab">{% trans %} classified.category.new {% endtrans %}</a></li>#}
                        {#<li class="searchCategoryLi disabled disabledTab">#}
                        {#<a href="#couchsurfing" data-toggle="tab">{% trans %} classified.category.couchSurfing {% endtrans %}</a></li>#}
                    </ul>

                    <!-- CATEGORY CONTENTS -->
                    <div class="tab-content">

                    </div>
                </div>
            </div>

            {% include "WegeooWebsiteBundle:Default:homeSearchForm.html.twig" %}

            <div class="sideMenuShadow"></div>
        </div>

    </div>


    <div class="overlay"></div>


{% endblock %}

