<!--basis -->
{% extends 'layout.server.view.html' %}

<!--override of the block content-->
{% block content %}

    <!--header-->
    {% include 'templates/header.server.view.html' %}

    <!-- SEARCH & MAP-->
    <section class="row show-grid row-margin row-colored row-search map">
        <ui-gmap-google-map
                center='map.center' zoom='map.zoom'>

        </ui-gmap-google-map>

        <div class="scroll">
            <img src="/modules/core/img/scroll.png" width="15" height="30">
        </div>
    </section>

    <section id="section" data-ui-view>

    </section>

{% endblock %}
